:root {
  --custom-channel-textarea-text-area-height: 2.5rem;
}

/* Remove profile effects */
.visual-refresh div[class*=profileEffects_] {
  display: none;
}

/* Remove avatar decorations */
.visual-refresh img[class*="avatarDecoration__"] {
  display: none;
}

/* Display pixel art and low resolution images without blur */
.visual-refresh div[class*=imageWrapper_] {
  image-rendering: pixelated;
}

/* Remove useless buttons */
.visual-refresh [aria-label="Send a gift"] {
  display: none;
}

.visual-refresh [aria-label="Open sticker picker"] {
  display: none;
}

.visual-refresh [aria-label="Open GIF picker"] {
  display: none;
}

.visual-refresh [aria-label="Download the mobile app to make your first remix"] {
  display: none;
}

.visual-refresh a[href="https://support.discord.com"] {
  display: none;
}

.visual-refresh .app-launcher-entrypoint {
  display: none;
}

/* Remove unnecessary gap between buttons in chat input box */
.visual-refresh div.buttons__74017 {
  gap: 0 !important;
}

.visual-refresh div[data-fullscreen][class^="base_"] {
  grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];

  & div[class^="bar_"] {
    display: none;
  }
}

.visual-refresh form {
  margin-top: 0;
}

.visual-refresh [data-jump-section] div[data-wrap] {
  padding-top: 0.5rem;
  margin-top: 0;
}

/* User area rework */

.visual-refresh section[aria-label="User area"] {

  & div[class*="container__"] {
    display: flex;
    flex-direction: row;
    padding-inline: 0.5rem;
    gap: 0;

    & div[class*="avatarWrapper__"] {
      width: 100%;
    }

    & div[class*="buttons__"] {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: right;
      gap: 0.5rem;

      &>div {
        width: auto;
      }

      button {
        width: auto;
      }
    }
  }

  left: var(--custom-guild-list-width);
  bottom: 0;
  width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width))
}


.visual-refresh [aria-label="Servers sidebar"] {
  margin-bottom: 0;
}

/* Vencord real names in normal font because jfc */
.vc-smyn-suffix {
  font-family: 'system-ui';
  font-size: 0.75rem;
}

.align-chat-input [class^="scrollerSpacer__"] {
  height: 1.75rem !important;
}

main {
  position: relative;
}

form[class*="formWithLoadedChatInput_"] {
  position: relative;
}

form[class*="formWithLoadedChatInput_"] [class^="typing_"] {
  bottom: 0 !important;
  top: unset !important;
}

form[class*="formWithLoadedChatInput_"] [class^="typing_"] [class^="text"] {
  margin-left: 0.5rem;
}

form[class*="formWithLoadedChatInput_"] [class^="attachWrapper__"] {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channelTextArea_f75fb0 {
  margin-bottom: 1.25rem;
}
