:root {
  --custom-channel-textarea-text-area-height: 2.5rem;
}

/* Remove profile effects */
.visual-refresh div[class*=profileEffects_] {
  display: none;
}

/* Remove avatar decorations */
.visual-refresh img[class^="avatarDecoration__"] {
  display: none;
}

/* Display pixel art and low resolution images without blur */
.visual-refresh div[class*=imageWrapper_] {
  image-rendering: pixelated;
}

/* Remove useless buttons */
.visual-refresh button[aria-label="Send a gift"] {
  display: none;
}
.visual-refresh button[aria-label="Open sticker picker"] {
  display: none;
}
.visual-refresh button[aria-label="Open GIF picker"] {
  display: none;
}
.visual-refresh span[aria-label="Download the mobile app to make your first remix"] {
  display: none;
}
.visual-refresh a[href="https://support.discord.com"] {
  display: none;
}
.visual-refresh div[class^="channelAppLauncher_"] {
  display: none;
}

/* Hide activities panel */
.visual-refresh div[class*="membersGroup_"]:has([class^="headerContainer__"][role="button"]) {
  display: none;
}

/* Remove unnecessary gap between buttons in chat input box */
.visual-refresh div[class^="channelTextArea_"] div[class^="buttons__"] {
  gap: 0 !important;
}

/* Remove top bar */
.visual-refresh div[class^="base_"] div[class^="bar_"] {
  display: none;
}
.visual-refresh div[class^="base_"] {
  grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
}
.visual-refresh form[class^="form_"] {
  margin-top: 0;
}
.visual-refresh div[class^="stack_"] {
  padding-top: 0.5rem;
  margin-top: 0;
}

/* Remove top border */
.visual-refresh div[class^="sidebarList_"] {
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
}
.visual-refresh div[class^="chat_"] {
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
}


/* User area rework */
.visual-refresh section[aria-label="User area"] {
  left: var(--custom-guild-list-width);
  bottom: 0;
  width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width))
}
.visual-refresh section[aria-label="User area"] div[class^="container__"] {
  display: flex;
  flex-direction: column;
  padding-inline: 0.5rem;
  gap: 0;
}
.visual-refresh section[aria-label="User area"] div[class^="container__"] div[class^="avatarWrapper__"] {
  width: 100%;
}
.visual-refresh section[aria-label="User area"] div[class^="container__"] div[class^="buttons__"] {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}
.visual-refresh [class^="sidebar_"] [aria-label="Servers sidebar"] {
  margin-bottom: 0;
}
.visual-refresh section[aria-label="User area"] div[class^="container__"] div[class^="buttons__"] > div {
  width: 100%;
}
.visual-refresh section[aria-label="User area"] div[class^="container__"] div[class^="buttons__"] > button {
  width: 100%;
}
.visual-refresh section[aria-label="User area"] div[class^="container__"] div[class^="buttons__"] > div > button {
  width: 100%;
}